* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%; 

  background: rgba(17, 17, 17, 0.7); 
  
  color: white;
  position: fixed; 
  width: 100%;    
  top: 0;
  left: 0;        
  z-index: 1000;
  
 
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); 
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
.logo { font-size: 1.5rem; font-weight: bold; letter-spacing: 2px; }
.logo span { color: #a1220b; }
.nav-links { display: flex; list-style: none; }
.nav-links li { margin-left: 30px; }
.nav-links a { color: white; text-decoration: none; font-weight: 500; transition: 0.3s; }
.nav-links a:hover { color:#a1220b; }